@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf');
    font-size: 700;
}
@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
    font-size: 400;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-size: 400;
}